$dark-blue: #000b1b;
$light-orange: #ffb347;
$dark-orange: #f5a65b;
$outrageous-orange: #fd7d5e;
$green-livamo: #04b8a2;
$saphire-blue: #2e688c;
$viride: #0a9396;
$gradient-background: linear-gradient(#0A9396, #5A7EC5);
